gunicorn
gevent
flask
altgraph                  
click                     
Flask                     
Flask-SQLAlchemy          
Flask-WTF                 
itsdangerous              
Jinja2                    
macholib                  
MarkupSafe                
pip                                  
setuptools                
SQLAlchemy                
Werkzeug                  
WTForms
pyOpenSSL